.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 420px;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(50%, transparent), to(#000)) no-repeat, url("../img/background-pattern.jpg") repeat center;
  background: linear-gradient(#000, transparent 50%, #000) no-repeat, url("../img/background-pattern.jpg") repeat center;
}

.main * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__content {
  min-width: 1200px;
}

.main__headline {
  margin: 0 0 30px;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 0 #000000;
  font-family: 'Exo 2', sans-serif;
  font-size: 36px;
  font-weight: 100;
}

@media (max-width: 1199px) {
  .main__content {
    min-width: auto;
    max-width: 800px;
  }
}

.cats-feed {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cats-feed__item {
  margin: 0 40px 40px;
}

@media (max-width: 767px) {
  .cats-feed {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feed-card__input {
  display: none;
}

.feed-card__content {
  z-index: 1;
  position: relative;
  display: block;
  width: 320px;
  min-height: 480px;
  padding: 17px 44px 270px;
}

.feed-card__content:before,
.feed-card__content:after {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: calc(100% - 50px);
  content: '';
  border-radius: 0 0 12px 12px;
}

.feed-card__content:before {
  background: #f2f2f2 url("../img/../img/cat-background.png") no-repeat left -27px bottom -92px;
}

.feed-card__content:after {
  border: solid 4px #1698d9;
  border-top: none;
}

.feed-card__agit {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 16px 0 0;
  list-style: none;
  text-align: center;
  color: white;
  border-bottom: 1px solid transparent;
  text-shadow: 0px 1px 0 #000;
  font-family: "Trebuchet MS", serif;
  font-size: 13px;
  line-height: 1.23;
}

.feed-card__agit-link {
  cursor: pointer;
  color: #1698d9;
  border-bottom: 1px dashed #1698d9;
  font-weight: 700;
}

.feed-card__agit-link:after {
  position: absolute;
  content: '.';
}

.feed-card__agit--selected,
.feed-card__agit--disabled {
  display: none;
}

.feed-card__agit--disabled {
  color: #ff6;
}

.feed-card__serving {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 81px;
  height: 81px;
  margin: 0;
  color: white;
  border-radius: 100%;
  background-color: #1698d9;
  font-family: "Trebuchet MS", serif;
  font-size: 21px;
}

.feed-card__serving-weight {
  font-size: 42px;
  line-height: 100%;
}

.feed-card__serving-unit {
  line-height: 80%;
}

.feed-card__cap {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 320px;
  height: 60px;
  fill-rule: evenodd;
  fill: #f2f2f2;
  stroke: #1698d9;
  stroke-width: 4px;
  stroke-linecap: "butt";
}

.feed-card__descr {
  margin: 0 0 7px;
  text-align: left;
  color: #666;
  font-family: "Trebuchet MS", serif;
  font-size: 16px;
}

.feed-card__descr--selected {
  display: none;
}

.feed-card__name {
  margin: 0 0 17px;
  text-align: left;
  color: #000;
  font-family: "Trebuchet MS", serif;
  font-size: 48px;
  font-weight: bold;
}

.feed-card__name-sub {
  display: block;
  font-size: 24px;
  line-height: 100%;
}

.feed-card__spec {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #666;
}

.feed-card__spec-item {
  margin: 0;
  text-align: left;
  font-family: "Trebuchet MS", serif;
  font-size: 14px;
  line-height: 1.14;
}

.feed-card__spec-item-count {
  font-weight: bold;
}