.cats-feed {
  z-index: 0;

  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: space-around;

  margin: 0;
  padding: 0;

  list-style: none;

  &__item {
    // bottom-margin counts child's negative margin
    margin: 0 40px 60px;
  }
}

@media (max-width: 767px) {
  .cats-feed{
    align-items: center;
    flex-direction: column;
  }
}
