.cats-feed {
  z-index: 0;

  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-around;

  margin: 0;
  padding: 0;

  list-style: none;

  &__item {
    margin: 0 40px 40px;

    background-color: grey;
  }
}

@media (max-width: 1199px) {

}

@media (max-width: 767px) {
  .cats-feed{
    align-items: center;
    flex-direction: column;
  }
}
