$border-thick: 4px;

.feed-card {

  &__input {
    display: none;
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    width: 320px;
    // negative bottom margin helps to keep control over lining layers' height
    margin-bottom: -33px;

    &-body {
      position: relative;

      display: block;
      order: -1;

      width: 320px;
      min-height: 480px;
      padding: 17px 44px 270px;

      &:before,
      &:after {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;

        display: block;

        box-sizing: border-box;
        width: 100%;
        height: calc(100% - 50px);

        content: '';

        border-radius: 0 0 12px 12px;
      }

      &:before {
        background: $card-bgc url(../img/cat-background.png) no-repeat left -27px bottom -92px;
      }

      &:after {
        border: solid $border-thick $highlight;
        border-top: none;
      }
    }
  }

  &__agit {
    position: relative;

    padding: 16px 0 0;

    list-style: none;

    text-align: center;

    color: white;
    border-bottom: 1px solid transparent;
    text-shadow: 0px 1px 0 #000;

    font-family: $trebushet;
    font-size: 13px;
    line-height: 1.23;

    &-link {
      position: relative;

      order: 1;

      margin-left: 3px;

      cursor: pointer;

      color: $highlight;
      border-bottom: 1px dashed $highlight;

      font-weight: 700;

      &:after{
        position: absolute;

        content: '.';
      }
    }

    &--selected, &--disabled { display: none; }

    &--disabled {
      color: #ff6;
    }
  }

  &__serving {
    position: absolute;
    right: 15px;
    bottom: 15px;

    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;

    width: 81px;
    height: 81px;
    margin: 0;

    color: white;
    border-radius: 100%;
    background-color: $highlight;

    font-family: $trebushet;
    font-size: 21px;

    &-weight {
      font-size: 42px;
      line-height: 100%;
    }

    &-unit {
      line-height: 80%;
    }
  }

  &__cap {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: block;

    width: 320px;
    height: 60px;

    fill-rule: evenodd;
    fill: $card-bgc;
    stroke: $highlight;
    stroke-width: $border-thick;
    stroke-linecap: "butt";
  }

  &__descr {
    margin: 0 0 7px;

    text-align: left;

    color: $semi-text-color;

    font-family: $trebushet;
    font-size: 16px;

    &--selected {
      display: none;
    }
  }

  &__name {
    margin: 0 0 17px;

    text-align: left;

    color: $main-text-color;

    font-family: $trebushet;
    font-size: 48px;
    font-weight: bold;

    &-sub {
      display: block;

      font-size: 24px;
      line-height: 100%;
    }
  }

  &__spec {
    margin: 0;
    padding: 0;

    list-style: none;

    color: $semi-text-color;

    &-item {
      margin: 0;

      text-align: left;

      font-family: $trebushet;
      font-size: 14px;
      line-height: 1.14;

      &-count {
        font-weight: bold;
      }
    }
  }
}
