.fraud-layer {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  cursor: pointer;

  &-1 {
    z-index: 1;

    .feed-card__input:checked ~ & { display: none; }

    .feed-card__input ~ &:hover {
      display: block;
      z-index: 2;
    }
  }

  &-2 {
    z-index: -1;

    .feed-card__input:checked ~ & {
      z-index: 1;
    }
  }
}

.feed-card {
  position: relative;
  z-index: 0;

  // Unchecked state hover logic
  .fraud-layer-1:hover ~ &__content &__content-body:after { border-color: $highlight-hover; }

  .fraud-layer-1:hover ~ &__content &__cap { stroke: $highlight-hover; }

  .fraud-layer-1:hover ~ &__content &__serving { background-color: $highlight-hover; }

  .fraud-layer-1:hover ~ &__content &__agit-link { color: $highlight-hover; border-bottom-color: $highlight-hover; }

  &__agit-link:hover {
    color: $highlight-hover;
    border-bottom-color: $highlight-hover;
  }

  &__agit-link:hover ~ &__content-body:after { border-color: $highlight-hover; }

  &__agit-link:hover ~ &__content-body &__cap { stroke: $highlight-hover; }

  &__agit-link:hover ~ &__serving { background-color: $highlight-hover; }

  // 1st hover after checking
  &__input:checked ~ .fraud-layer-1:hover ~ &__content &__content-body:after { border-color: $highlight-checked; }

  &__input:checked ~ .fraud-layer-1:hover ~ &__content &__cap { stroke: $highlight-checked; }

  &__input:checked ~ .fraud-layer-1:hover ~ &__content &__serving { background-color: $highlight-checked; }

  &__input:checked ~ &__content &__agit {
    display: none;
    &--selected { display: block; }
  }

  // Checked state logic
  &__input:checked ~ &__content &__content-body:after { border-color: $highlight-checked; }

  &__input:checked ~ &__content &__serving { background-color: $highlight-checked; }

  &__input:checked ~ &__content  &__cap { stroke: $highlight-checked; }

  // Checked state :hover logic
  .fraud-layer-2:hover ~ &__content  &__content-body:after { border-color: $highlight-checked-hover; }

  .fraud-layer-2:hover ~ &__content  &__cap  { stroke: $highlight-checked-hover; }

  .fraud-layer-2:hover ~ &__content &__serving { background-color: $highlight-checked-hover; }

  .fraud-layer-2:hover ~ &__content &__descr { display: none; }

  .fraud-layer-2:hover ~ &__content &__descr--selected { display: block; color: $highlight-checked-hover; }

  // Disabled
  &__input:disabled ~ .fraud-layer-1 { z-index: -1; }

  &__input:disabled ~ &__content &__agit {
    display: none;
    &--disabled { display: block };
  }

  &__input:disabled ~ &__content &__content-body:after { border-color: $highlight-disabled; background-color: rgba($card-bgc, .5);}

  &__input:disabled ~ &__content &__serving { background-color: $highlight-disabled; }

  &__input:disabled ~ &__content  &__cap { stroke: $highlight-disabled; }

  &__input:disabled ~ &__content &__content-body &__spec { color: $highlight-disabled; }

  &__input:disabled ~ &__content &__content-body > *:not(.feed-card__spec) { color: rgba($highlight-disabled, .5); }
}
