$trebushet: 'Trebuchet MS', serif;

$card-bgc: #f2f2f2;

$main-text-color: #000;
$semi-text-color: #666;

$highlight: #1698d9;
$highlight-hover: #2ea8e6;
$highlight-checked: #d91667;
$highlight-checked-hover: #e62e7a;
$highlight-disabled: #b3b3b3;
