@import 'variables';

.main {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;

  min-width: 420px;
  min-height: 100vh;

  background: linear-gradient(#000, rgba(0, 0, 0, 0) 50%, #000) no-repeat, url(background-pattern.jpg) repeat center;


  & * {
    box-sizing: border-box;
  }

  &__content {
    min-width: 1200px;
  }

  &__headline {
    margin: 0 0 30px;

    text-align: center;

    color: white;
    text-shadow: 0px 1px 0 #000000;

    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    font-weight: 100;
  }

  @media (max-width: 1199px) {
      &__content {
        min-width: auto;
        max-width: 800px;
      }
    }
}

@import 'cats-feed';
@import 'feed-card';
